bqplot
ipywidgets>=7.6
ipycanvas
ipyleaflet
jupyterlab==3.1.0b0
jupyterlab-drawio
https://files.pythonhosted.org/packages/80/9b/d4e172e6b755ace0229af29d1def6f1f0654e8c426f42ba31695796e379d/jupyterlite-0.1.0a3-py3-none-any.whl
theme-darcula
